nav.navbar-findcond {
  background: #fff;
  border-color: #ccc;
  -webkit-box-shadow: 0 0 2px 0 #ccc;
          box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
  color: #f14444;
}

nav.navbar-findcond ul.navbar-nav a {
  color: #f14444;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover {
  background: #fff;
  border-color: #f14444;
}

nav.navbar-findcond ul.navbar-nav a:visited {
  background: #fff;
}

nav.navbar-findcond ul.navbar-nav a:focus {
  background: #fff;
}

nav.navbar-findcond ul.navbar-nav a:active {
  background: #fff;
}

nav.navbar-findcond ul.dropdown-menu > li > a {
  color: #444;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover {
  background: #f14444;
  color: #fff;
}

button[type="submit"] {
  border-radius: 2px;
  color: #fff;
  background: #e74c3c;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 10%;
  -webkit-transition: background .5s;
  transition: background .5s;
}

button[type="submit"]:hover {
  background: #2f3c4e;
}

